$dark-bg = #263238
$dark-text = #FFF

h1, h2, h3, h4, h5, h6, p
	margin: 0 0 32px 0

.logos
	display: flex
	img
		height: 256px
		max-height: none
		max-width: none
		margin: 0 32px

@media(prefers-color-scheme: dark)
	#app .daumenkino.daumenkino-theme-white
		background-color: $dark-bg
		color: #FFF

.daumenkino.daumenkino-theme-white
	.content__default
		> :first-child, > :nth-child(3)
			background: linear-gradient(to right, $dark-bg, $dark-bg 50%, transparent 50%, transparent)
			h1
				font-size: 128px
				margin-left: 52px
			span.dark
				color: $dark-text

		> :nth-child(7)
			background: linear-gradient(to right, transparent, transparent 50%, $dark-bg 50%, $dark-bg)
			.daumenkino-slide-content
				flex-direction: row
				> :first-child
					margin-right: 48px
					code
						color: #333
						.punctuation
							color: #888
						.property
							color: #166724
						.function
							color: #169ed4
				.language-css
					background-color: transparent

					&::before
						content: none
				pre
					width: 340px
				code
					font-size: 16px

.daumenkino.daumenkino-theme-dark
	background-color: $dark-bg
	color: $dark-text
	font-family: 'Quicksand'
	font-size: 40px

	img.small, video.small
		max-width: 400px

.shadow
	height: 320px
	width: @height
	background-color: #334148
	border-radius: 8px
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

.bordered
	height: 320px
	width: @height
	border: 2px solid #fff
	border-radius: 8px
